{% extends 'base_admin.html' %}
{% block content %}


<div class="row eb-box">
    <div class="col-sm-12 col-md-12 ">
        <div class="block-flat">
            <div class="boxheader">
                <h3>添加或修改分类</h3>
            </div>
            <div class="content">
                <form method="post" >
                     <div class="mb-3 mt-3">
                        <label>父级分类</label>
                        <select name="group_id" style="max-width:300px" class="form-control">
		                    {{build_sel_item(p_class_list,'_id','class_name',model.parent_id)}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>分类名称</label>
                        <input name="class_name" value="{{model.class_name}}" minlength="3" style="max-width:500px" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>分类简介</label>
                        <textarea name="info" value="{{model.info}}" class="form-control" rows="4" cols="50"></textarea>
                    </div>
<!--                    <div class="mb-3 mt-3">-->
<!--                        <label>选择用户组</label>-->
<!--                        <select name="user_group_ids" style="max-width:300px" class="form-control">-->
<!--		                    {{build_sel_item(user_group,'_id','name',model.user_group_ids)}}-->
<!--                        </select>-->
<!--                    </div>-->
                    <input hidden value="{{model._id}}" id="_id" name="_id" >
                    <button class="btn btn-primary mb-3" type="submit">   保  存   </button>
                    {% if err %}
                        <div class="alert alert-danger">err</div>
                    {%endif%}


                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}