{% extends 'base_admin.html' %}
{% block content %}


<div class="row eb-box">
    <div class="col-sm-12 col-md-12 ">
        <div class="block-flat">
            <div class="boxheader">
                <h3>添加或修改分类</h3>
            </div>
            <div class="content">
                <form method="post" >
                     <div class="mb-3 mt-3">
                        <label>父级分类</label>
                        <select name="parent_id" style="max-width:300px" class="form-control">
                            <option value="">一级分类</option>
		                    {{build_sel_item(p_class_list,'_id','class_name',model.parent_id)}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>分类名称</label>
                        <input name="class_name" value="{{model.class_name}}" minlength="3" style="max-width:300px" class="form-control" required>
                    </div>
                     <div class="mb-3 mt-3">
                        <label>分类模板</label>
                        <select name="class_temp_id" style="max-width:300px" class="form-control">
		                    {{build_sel_item(temp_class,'_id','name',model.class_temp_id)}}
                        </select>
                    </div>
                     <div class="mb-3 mt-3">
                        <label>内容模板</label>
                        <select name="content_temp_id" style="max-width:300px" class="form-control">
		                    {{build_sel_item(temp_content,'_id','name',model.content_temp_id)}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>分类简介</label>
                        <textarea style="max-width:500px" name="info" class="form-control" rows="4" cols="50">{{model.info}}</textarea>
                    </div>
                     <div class="mb-3">
                        <label>每页显示</label>
                        <input type="number" name="page_size" value="{{model.page_size}}"  style="max-width:100px" class="form-control" required>
                    </div>

                    <input hidden value="{{model._id}}" id="_id" name="_id" >
                    <button class="btn btn-primary mb-3" type="submit">   保  存   </button>
                    {% if err %}
                        <div class="alert alert-danger">err</div>
                    {%endif%}


                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}