@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*{ margin:0; padding:0; }
body
{
	background: #ebeff2 !important;
}
a {
    text-decoration: none;
    color: #797979 ;
}
a:link, a:visited {
    color: #656D77;
    text-decoration: none ;
}
a:hover, a:active {
	color:#333;
	text-decoration:none;
}
img{ border:0px;}

a{ cursor:pointer;}
li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

.tab-content {
	background-color: #ffffff;
	padding: 15px;
	border-left: solid 1px #e4e4e4;
	border-right: solid 1px #e4e4e4;
	border-bottom: solid 1px #e4e4e4;
}
.card-box {
	background-color: #ffffff;
	padding: 15px;
	border-left: solid 1px #e4e4e4;
	border-right: solid 1px #e4e4e4;
	border-bottom: solid 1px #e4e4e4;
}
.eb-content {
	padding-bottom: 10px;
	padding-top: 10px;
}
.eb-content img{
	width: 100%;
}
.mt-10{
	margin-top: 10px;
}
.mt-20{
	margin-top: 20px;
}
.st-info{
	background-color: #fff;
	border-top:#e2e3e5  solid 1px;
	min-height: 500px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
}
.st-info img{
	width: 100%;
}
.st-info label{
	font-size: 30px;
	font-weight: bolder;
}
.st-info .ctitle{
	padding-left: 0 !important;
	border-bottom: solid 3px #EBF0F5;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.cbrowbox-tab {
        border-left: 1px solid #dadada !important;
        border-right: 1px solid #dadada !important;
        border-bottom: 1px solid #dadada !important;
        background: #ffffff !important;
        padding: 8px;
    }
.cbrowbox {
    width: 98% !important;
    margin: 20px auto 0 !important;
    border: 1px solid #dadada !important;
    background: #ffffff !important;
    border-radius: 5px
}
.boxheader {
	width: 100% !important;
	padding-top: 8px;font-size: 12px;
}
.info-title{
	border-left:#008EE0 solid 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.btn-group-lg a{
	color: #ffffff;
}
.menu-title{
        background-color: #e2e3e5; width: 100%;
        height: 35px;line-height: 35px;
        border-bottom: 1px solid #bcbebf;
    }
.container-fluid{
        padding: 0 !important;
    }
.logotext{
	color: #d4500d;font-weight: bold
}
.ucc-left{
	width: 200px;border-right: #e2e3e5 7px solid;height: 100%
}
.ucc-left li{
	padding: 5px;
}
.btn{
	color: #ffffff !important;
}
.ucc-header{
	border-bottom: #c2ccd1 solid 1px;
	line-height: 35px;
	background-color: #EBF0F5;
	padding: 5px;
}
.ucc-content{
	padding: 10px;
}
.ucc-btns a{
	margin: 5px;
}
.api-item{
	cursor: pointer;
}
.headertips{
	margin-top: 10px;
}
.f-12{
	font-size: 12px
}
.ucc-top-header{
	padding-left: 5px;
	padding-right: 5px;
}
.footer {
    background: #060606;
    padding: 25px 0 10px 0;
	margin-top: 20px;
}

.footer-link-l {
    color: #fff;
}

.footer-link-a {
    width: 1100px;
}

    .footer-link-a li {
        float: left;
        margin: 0 0 10px 20px;
    }

        .footer-link-a li a {
            color: #5f5f5f;
            font-size:12px;
        }

            .footer-link-a li a:hover {
                color: #43acc4;
            }

.footer-color {
    color: #0b7991;
    margin-bottom: 10px;
}

.footer-color-b {
    height: 20px;
    line-height: 20px;
}

    .footer-color-b img {
        margin-right: 10px;
    }

.footer-cont-tt {
    color: #0b7991;
    font-size: 16px;
    font-weight: bold;
}

.footer-contact {
    margin-left: 35px;
}

.footer-email {
    font-size: 12px;
    color: #0b7991;
    margin-top: 10px;
}

.footer-p {
    color: #383636;
    margin-top: 15px;
}
.banner{
	padding-bottom: 10vh;
}
.banner .border-text{
	color: #ffffff; font-weight: bolder;font-size: 3rem;padding-top: 10vh;padding-bottom: 2.5rem;
}
.sp8{
	padding: 8px;
}
.safe_code_img img{
    cursor: pointer;
    margin:2px;
    border-radius: 5px;
}