{% extends 'base_admin.html' %}
{% block content %}

<div class="eb-box">
    <div class="btn-toolbar px-2">
        <form method="get">
            <div class="btn-group">
                <input class="form-control" placeholder="关键字" name="k" type="text" required/>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary" type="submit">   搜索   </button>
            </div>
            <div class="btn-group">
                <a href="special_list_save" class="btn btn-outline-primary">
                    添加
                </a>
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-primary" onclick="return confirm('确认要删除所选项吗？');" href="javascript: del_items('special_list_del')">
                    删除
                </a>
            </div>
        </form>
    </div>
    {{table_html}}
</div>
<nav class="mt-2 px-2">
    {{pager}}
</nav>
{% endblock %}