{% extends 'base_admin.html' %}
{% block content %}
<form method="post" >
        <div class="mb-3 mt-3">
          <select name="sel_id" size="7" style="max-width:300px" class="form-control" multiple>
                {{build_sel_item(data_list,'_id','name','')}}
          </select>
        </div>
      <button id="btn_post" style="display:none" class="btn btn-primary mb-3" type="submit">   保  存   </button>
    {% if err %}
        <div class="alert alert-info">{{err}}</div>
    {%endif%}
</form>
<script>
    function SaveFrame(){
        $('#btn_post').click();
    }
</script>
{% endblock %}