{% extends 'base_admin.html' %}
{% block content %}

<div class="eb-box">
    <div class="btn-toolbar px-2">
        <form method="get">
            <div class="btn-group">
                <a class="btn btn-outline-primary" onclick="return confirm('确认要删除所选项吗？');" href="javascript: del_items('special_content_list_del?sid={{s_id}}')">
                    删 除
                </a>
                <a class="btn btn-outline-primary" onclick="return confirm('确认要清空所有数据吗？');" href="special_content_list_clear?sid={{s_id}}">
                    清空数据
                </a>
            </div>
        </form>
    </div>
    {{table_html}}
</div>
<nav class="mt-2 px-2">
    {{pager}}
</nav>


{% endblock %}