{% extends 'base_admin.html' %}
{% block content %}

<div class="eb-box">
    <div class="btn-toolbar px-2">
        <form method="get">
            <div class="btn-group">
                <a href="form_list_save" class="btn btn-outline-primary">
                    添加
                </a>
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-primary" onclick="return confirm('将删除包括其下的子菜单，确认要删除所选项吗？');" href="javascript: del_items('form_list_del')">
                    删除
                </a>
            </div>
        </form>
    </div>
    {{table_html}}
</div>

{% endblock %}