{% extends 'base_admin.html' %}
{% block content %}


<div class="row eb-box">
    <div class="col-sm-12 col-md-12 ">
        <div class="block-flat">
            <div class="boxheader">
                <h3>添加或修改表单</h3>
            </div>
            <div class="content">
                <form method="post" >
                    <div class="mb-3">
                        <label>表单名称</label>
                        <input name="name" value="{{model.name}}"  style="max-width:300px" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>字段最大长度</label>
                        <input type="number" name="max_len" value="{{model.max_len}}"  style="max-width:100px" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>
                            <input name="open_safe_code" type="checkbox" {% if model.open_safe_code %}checked{% endif %}>是否开启安全码
                        </label>
                    </div>
                    <input hidden value="{{model._id}}" id="_id" name="_id" >
                    <button class="btn btn-primary mb-3" type="submit">   保  存   </button>
                    {% if err %}
                        <div class="alert alert-danger">err</div>
                    {%endif%}


                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}