{% extends 'base_admin.html' %}
{% block content %}


<div class="row eb-box">
    <div class="col-sm-12 col-md-12 ">
        <div class="block-flat">
            <div class="boxheader">
                <h3>添加或修改内容模板</h3>
            </div>
            <div class="content">
                <form method="post" >
                    <div class="mb-3">
                        <label>模板名称</label>
                        <input name="name" value="{{model.name}}" minlength="3" style="max-width:500px" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>模板代码</label>
                        <textarea name="temp_code" class="form-control" rows="20" cols="100">{{model.temp_code}}</textarea>
                    </div>

                    <input hidden value="{{model._id}}"  name="_id" >
                    <input hidden value="{{model.temp_type}}"  name="temp_type" >

                    <button class="btn btn-primary mb-3" type="submit">   保  存   </button>
                    {% if err %}
                        <div class="alert alert-danger">err</div>
                    {%endif%}


                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}