{% extends 'base_admin.html' %}
{% block content %}


<div class="row eb-box">
    <div class="col-sm-12 col-md-12 ">
        <div class="block-flat">
            <div class="boxheader">
                <h3>添加或修改内容</h3>
            </div>
            <div class="content">
                <form method="post" >
                    <div class="mb-3 mt-3">
                        <label>选择分类</label>
                        <select name="class_id" style="max-width:300px" class="form-control">
		                    {{build_sel_item(class_list,'_id','class_name',model.class_id)}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>标题</label>
                        <input name="title" value="{{model.title}}" minlength="3" style="max-width:500px" class="form-control" required>
                    </div>
                     <div class="mb-3">
                        <label>内容</label>
                        <textarea style="max-width:500px" name="info" class="form-control" rows="4" cols="50">{{model.info}}</textarea>
                    </div>

                    <div class="mb-3">
                        <label>
                            <input name="is_good" type="checkbox" {% if model.is_good %}checked{% endif %}>是否推荐
                            <input type="hidden" title="checkbox未选提交辅助控件，只能放在同名checkbox下面" name="is_good" value="checkbox_unchecked">
                        </label>
                    </div>
                    <input hidden value="{{model._id}}" id="_id" name="_id" >
                    <button class="btn btn-primary mb-3" type="submit">   保  存   </button>
                    {% if err %}
                        <div class="alert alert-danger">err</div>
                    {%endif%}


                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}