{% extends 'base_admin.html' %}
{% block content %}


<div class="row eb-box">
    <div class="col-sm-12 col-md-12 ">
        <div class="block-flat">
            <div class="boxheader">
                <h3>添加或修改模板</h3>
            </div>
            <div class="content">
                <form method="post" >
                    <div class="mb-3">
                        <label>模板名称</label>
                        <input name="name" value="{{model.name}}" minlength="3" style="max-width:500px" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>模板代码</label>
                         <div class="btn-group" role="group" >
                          <input value="1" type="radio" class="btn-check" name="temp_model" id="btn_radio1">
                          <label class="btn btn-outline-primary" for="btn_radio1">在线模板</label>
                          <input value="2" type="radio" class="btn-check" name="temp_model" id="btn_radio2" >
                          <label class="btn btn-outline-primary" for="btn_radio2">指定文件</label>
                        </div>

                    </div>
                    <div class="mb-3">
                        <div style="width:100%;height:100vh;" id="temp_code_div">{{model.temp_code}}</div>
                        <textarea style="display:none" id="temp_code" name="temp_code" class="form-control" rows="20" cols="100">{{model.temp_code}}</textarea>
                        <input id="file_path" name="file_path" value="{{model.file_path}}"  style="max-width:500px;display:none" class="form-control" required>
                    </div>

                    <input hidden value="{{model._id}}"  name="_id" >
                    <input hidden value="{{model.temp_type}}"  name="temp_type" >

                    <button class="btn btn-primary mb-3" type="submit">   保  存   </button>
                    {% if err %}
                        <div class="alert alert-danger">err</div>
                    {%endif%}


                </form>

            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        $('.btn-check').change(function() {
          var selectedValue = $(this).val();
          $('#temp_code_div').hide()
          $('#file_path').hide()

          if (selectedValue === '1') {
             $('#temp_code_div').show()
          } else if (selectedValue === '2') {
            $('#file_path').show()
          }
        });
        var temp_model = {{model.temp_model}}
        $("#btn_radio"+temp_model).click();

        init_ace("temp_code_div","temp_code");
    });


</script>

{% endblock %}