{% extends 'base_admin.html' %}
{% block content %}

<div class="eb-box">
    <div class="btn-toolbar px-2">
        <form method="get">
            <div class="btn-group">
                <input class="form-control" placeholder="关键字" name="k" type="text" required/>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary" type="submit">   搜索   </button>
            </div>
            <div class="btn-group">
                <a href="menus_save" class="btn btn-outline-primary">
                    添加
                </a>
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-primary" onclick="return confirm('将删除包括其下的子菜单，确认要删除所选项吗？');" href="javascript: del_items('menus_del')">
                    删除
                </a>
            </div>
            <div class="btn-group">
                <a href="menus_move" class="btn btn-outline-primary">
                    移动菜单
                </a>
            </div>
            <div class="btn-group">
                <a href="menus_resetorderid" class="btn btn-outline-primary" onclick="return confirm('确认要重置排序吗？');">
                    重置排序
                </a>
            </div>

        </form>
    </div>
<!--    table-striped-->
    <table class="table table-hover eb-table">
        <thead>
            <tr>
                <th>菜单名称</th>
                <th>图标</th>
                <th>地址</th>
                <th>菜单ID</th>
                <th>就否菜单</th>
                <th>排序权重</th>
                <th>操作</th>
                <th><input id='chAll' onclick='on_check(this)' type="checkbox" /></th>
            </tr>
        </thead>
        <tbody>
            {% for item in datas %}

                <tr>
                    <td>{{item.menu_name|safe}}</td>
                    <td>
                        <i class="{{item.image_url}}" /></i>
                    </td>
                    <td>
                        {{ item.page_url }}
                    </td>
                    <td>
                        {{ item._id }}
                    </td>
                    <td>
                        {% if item.is_menu %}
                            <span>是</span>
                        {% else %}
                            <span>否</span>
                        {% endif %}

                    </td>
                    <td>{{item['order_id']}}</td>
                    <td class="pd-a">
                        <a href="menus_save?_id={{item._id}}" ><i class="fa fa-edit" /></i> 修 改 </a>

                        <a onclick="return confirm('将删除包括其下的子菜单，确认要删除所选项吗？');" href="menus_del?ids={{item._id}}"><i class="fa fa-remove" /></i> 删 除 </a>
                    </td>
                    <td>
                        <input value="{{item._id}}" type="checkbox" />
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<nav class="mt-2 px-2">
    {{pager}}
</nav>

{% endblock %}