{% extends 'base_admin.html' %}
{% block content %}

<div class="row eb-box">
    <div class="col-sm-12 col-md-12 ">
        <div class="block-flat">
            <div class="boxheader">
                <h3>保存权限菜单</h3>
            </div>
            <div class="content">

                <form method="post">
                    <div class="mb-3 mt-3">
                        <label>父菜单</label>
                        <select id="parent_id" name="parent_id" style="max-width:300px" class="form-control">
                            <option value="">一级菜单</option>
                            {{build_sel_item(p_data,'_id','menu_name',model.parent_id)}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>菜单名称</label>
                        <input value="{{model.menu_name}}" id="menu_name" name="menu_name" title="请输入菜单名称" style="max-width:300px" class="form-control" required>
                        <div class="invalid-feedback">请输入菜单名称。</div>
                    </div>
                    <div class="mb-3">
                        <label>图标</label>
                        <input value="{{model.image_url}}" id="image_url" name="image_url" style="max-width:500px" class="form-control" required>
                        <div class="invalid-feedback">请输入图标样式。</div>
                    </div>
                    <div class="mb-3">
                        <label>页面地址</label>
                        <input value="{{model.page_url}}" id="page_url" name="page_url" style="max-width:500px" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label>
                            <input id="is_menu" name="is_menu" type="checkbox" {% if model.is_menu %}checked{% endif %}>是否菜单
                            <input type="hidden" title="checkbox未选提交辅助控件，只能放在同名checkbox下面" name="is_menu" value="checkbox_unchecked">
                        </label>
                    </div>
                    <input hidden value="{{model._id}}" name="_id" >
                    <input hidden value="5" name="order_id" >
                    <button class="btn btn-primary mb-3" type="submit">   保  存   </button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}