{% extends 'base_admin.html' %}
{% block content %}


<div class="row eb-box">
    <div class="col-sm-12 col-md-12 ">
        <div class="block-flat">
            <div class="boxheader">
                <h3>添加或修改部件</h3>
            </div>
            <div class="content">
                <form method="post" >
                    <div class="mb-3">
                        <label>部件名称</label>
                        <input name="name" value="{{model.name}}"  style="max-width:300px" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>HTML内容</label>
                        <div style="width:100%;min-height:300px;" id="temp_code_div">{{model.temp_code}}</div>
                        <textarea style="display:none" id="temp_code" name="temp_code" class="form-control" rows="10" cols="100" required>{{model.temp_code}}</textarea>
                    </div>
                    <input hidden value="{{model._id}}" name="_id" >
                     <input hidden value="{{model.temp_type}}" name="temp_type" >
                    <button class="btn btn-primary mb-3" type="submit">   保  存   </button>
                    {% if err %}
                        <div class="alert alert-danger">err</div>
                    {%endif%}


                </form>

            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        init_ace("temp_code_div","temp_code");
    });
  </script>
{% endblock %}