{% extends 'base_admin.html' %}
{% block content %}

    <div class="container-fluid">
        <div class="block-flat">
            <div class="boxheader">
                <h3>添加或修改部件</h3>
            </div>
            <div class="content">
                <form method="post" >
                    <div class="row-fluid">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tg1" data-bs-toggle="tab">
                                   基本信息
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tg2" data-bs-toggle="tab">
                                  查询条件
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content px-2">
                            <div id="tg1" class="tab-pane active mt-3">
                                    <div class="mb-3">
                                        <label>部件名称</label>
                                        <input name="name" value="{{model.name}}"  style="max-width:300px" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label>数据绑定模板(flask模板语法)</label>
                                        <div style="width:100%;min-height:300px;" id="temp_code_div">{{model.temp_code}}</div>
                                        <textarea id="temp_code" style="display:none" name="temp_code" class="form-control" rows="10" cols="100" required>{{model.temp_code}}</textarea>
                                    </div>
                            </div>
                            <div id="tg2" class="tab-pane mt-3">
                                    <div class="mb-3">
                                        <label>查询条件(mongodb)</label>
                                        <textarea style="max-width:500px" name="where_query" class="form-control" rows="4" cols="50">{{model.where_query}}</textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label>排序字段</label>
                                        <input name="order_by" value="{{model.order_by}}"  style="max-width:300px" class="form-control" required>
                                    </div>
                                      <div class="mb-3 mt-3">
                                        <label>排序方式</label>
                                        <select name="order_by_desc" style="max-width:300px" class="form-control">
                                            {{build_sel_item(desc_asc, 'value','name',model.order_by_desc)}}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label>查询记录数</label>
                                        <input type="number" name="limit" value="{{model.limit}}"  style="max-width:100px" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label>注：可查询的字段</label>
                                        <div class="alert alert-info">{{all_fields}}</div>
                                    </div>
                                    <div class="mb-3">
                                        <label>查询语法必须符合python下的mongodb代码使用规则</label>
                                        <div class="alert alert-info">
                                            如，{ 'class_name': { '$in': ['a', 'b'] } } 或 {'parent_id': '654f7523ab7a0b85c78a1e23'}
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <input hidden value="{{model._id}}" name="_id" >
                     <input hidden value="{{model.temp_type}}" name="temp_type" >
                    <button class="btn btn-primary mb-3" type="submit">   保  存   </button>
                    {% if err %}
                        <div class="alert alert-danger">err</div>
                    {%endif%}


                </form>

            </div>
        </div>
    </div>

<script>
    $(function(){
        init_ace("temp_code_div","temp_code");
    });
  </script>

{% endblock %}