{% extends 'base_admin.html' %}
{% block content %}

<div class="row eb-box">
    <div class="col-sm-12 col-md-12 ">
        <div class="block-flat">
            <div class="boxheader">
                <h3>保存角色</h3>
            </div>
            <div class="content">

                <form method="post">
                    <div class="mb-3">
                        <label>角色名称</label>
                        <input value="{{model.name}}" name="name"  style="max-width:300px" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>角色说明</label>
                        <input value="{{model.info}}" name="info"   class="form-control">
                    </div>
                    <input hidden value="{{model._id}}" name="_id" >
                    <button class="btn btn-primary mb-3" type="submit">   保  存   </button>
                    {%if err%}
                        <div class="alert alert-danger">{{err}}</div>
                    {%endif%}
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}