{% extends 'base_admin.html' %}
{% block content %}

<div class="row eb-box">
    <div class="col-sm-12 col-md-12 ">
        <div class="block-flat">
            <div class="boxheader">
                <h3>添加或修改用户</h3>
            </div>
            <div class="content">
                <form method="post" >
                    {% if not model._id %}
                        <div class="mb-3">
                            <label>登录账号</label>
                            <input name="user_name" value="{{model.user_name}}" style="max-width:300px" class="form-control" minlength="3" required>
                        </div>
                        <div class="mb-3">
                            <label>密码</label>
                            <input name="user_pass" type="password" value="{{model.user_pass}}"  style="max-width:500px" class="form-control" minlength="6" required>
                        </div>
                    {% else %}
                        <div class="mb-3">
                            <label>登录账号</label>
                            <input name="user_name" value="{{model.user_name}}" style="max-width:300px" readonly class="form-control" required>
                        </div>
                    {% endif %}
                    <div class="mb-3">
                        <label>真实姓名(昵称)</label>
                        <input name="real_name" value="{{model.real_name}}" minlength="3" style="max-width:500px" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>Email</label>
                        <input name="user_email" value="{{model.user_email}}" type="email" style="max-width:500px" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>手机号</label>
                        <input name="mobile_number" value="{{model.mobile_number}}" required pattern="^1[3-9]\d{9}$" title="请输入正确的手机号码" style="max-width:500px" class="form-control">
                    </div>
                    <div class="mb-3 mt-3">
                        <label>选择角色</label>
                        <select name="role_id" style="max-width:300px" class="form-control">
		                    {{build_sel_item(role,'_id','name',model.role_id)}}
                        </select>
                    </div>

<!--                    <div class="mb-3">-->
<!--                        <label>-->
<!--                            <input name="user_status" type="checkbox" {% if model.user_status != 1 %}checked{% endif %}>是否锁定-->
<!--                            <input type="hidden" title="checkbox未选提交辅助控件，只能放在同名checkbox下面" name="is_locked" value="checkbox_unchecked">-->
<!--                        </label>-->
<!--                    </div>-->
                    <input hidden value="{{model._id}}" id="_id" name="_id" >
                    <button class="btn btn-primary mb-3" type="submit">   保  存   </button>
                    {% if err %}
                        <div class="alert alert-danger">{{err}}</div>
                    {%endif%}


                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}