{% extends 'base_site.html' %}
{% block title %}
首页
{% endblock %}

{% block content %}

<div id="banner_slider" class="carousel slide banner-section" data-ride="carousel">

    <ul class="carousel-indicators">
      <li data-target="#banner_slider" data-slide-to="0" class="active"></li>
      <li data-target="#banner_slider" data-slide-to="1"></li>
      <li data-target="#banner_slider" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="banner-text">
                    <h1 class="text-white">EBSITE CMS 全开源建站系统</h1>
                    <p class="text-white">一个有趣的建站系统，能站你减少70%的重复劳动。</p>
                    </div>
                    <div class="banner-img">
                        <figure class="home-banner-image">
                            <img class="img-fluid" src="themes/images/banner-img.svg" alt="">
                        </figure>
                        </div>
                    <div class="text-paragraph">
                    <p class="text-white">自带商城模块，论坛模块, <span> 让你省去70%的工作,</span>点击下载即可使用.</p>
                    <div class="banner-button list-inline">
                    <div class="primary-button list-inline-item">
                        <a target="_blank" href="https://github.com/yibo7/ebsite7" class="primary-btn button-effect">EBSITE CMS 7</a>
                    </div>
                    <div class="secondary-button list-inline-item">
                        <a target="_blank" href="https://github.com/yibo7/ebsite7/wiki" class="secondary-btn button-effect"> 文 档 </a>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="carousel-item slider-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="banner-text">
                    <h1 class="text-white">一成体系，EBSITE与模块无缝集成</h1>
                    <p class="text-white">模块集成于后台与前台，菜单自动生成，独立的模块权限管理.</p>
                    </div>
                    <div class="banner-img">
                        <figure class="home-banner-image">
                            <img class="img-fluid" src="themes/images/slider-2-banner-img.svg" alt="">
                        </figure>
                    </div>
                    <div class="text-paragraph">
                        <div>
                            <ul class="text-white list-unstyled">
                                <li><i class="fa fa-delicious" aria-hidden="true" /></i>模块一键安装.</li>
                                <li><i class="fa fa-calculator" aria-hidden="true" /></i>后台模块后台菜单自动生成并集成.</li>
                                <li><i class="fa fa-th-large" aria-hidden="true" /></i> 模块支持MVC开发.</li>
                            </ul>
                        </div>
                    <div class="banner-button list-inline">
                    <div class="primary-button list-inline-item">
                        <a target="_blank" href="https://github.com/yibo7/eb_bbs" class="primary-btn button-effect">EBSITE_BBS 1.0 (论坛)</a>
                    </div>
                    <div class="secondary-button list-inline-item">
                        <a target="_blank" href="https://github.com/yibo7/eb_shop" class="secondary-btn button-effect">EBSITE_SHOP 1.0 (商城)</a>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="carousel-item slider-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="banner-text">
                    <h1 class="text-white">三种模型让内容更加可订制化</h1>
                    <p class="text-white">EBSITE 提供了可自定义设计的内容模型，分类模型，用户模型及表单模型</p>
                    </div>
                    <div class="banner-img">
                        <figure class="home-banner-image">
                            <img class="img-fluid" src="themes/images/slider-3-banner-img.svg" alt="">
                        </figure>
                    </div>
                    <div class="text-paragraph">
                        <div>
                            <ul class="text-white list-unstyled">
                                <li><i class="fa fa-cube" aria-hidden="true" /></i>模型可采用自带字段也可使用自定义字段</li>
                                <li><i class="fa fa-address-card" aria-hidden="true" /></i>自带丰富的模型编辑控件</li>
                                <li><i class="fa fa-cubes" aria-hidden="true" /></i>开发者可随便开发模型控件</li>
                            </ul>
                        </div>
                    <div class="banner-button list-inline">
<!--                    <div class="primary-button list-inline-item">-->
<!--                        <a href="#" class="primary-btn button-effect">模型使用教程</a>-->
<!--                    </div>-->
                    </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

    <!-- WEB HOSTING -->
    <section class="hosting-section">
        <div class="container">
        <div class="text-center hosting-section-setting">
            <h1>EbSite 免费开源系列</h1>
            <p> 与EbSite相关的产品包括EbSite_Vercel,EbSite_BBS,,EbSite_Shop </p>
        </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="plan p-xl-5 p-lg-4 p-md-5 p-sm-5 p-4 mt-xl-0 mt-lg-0 mt-md-5 mt-sm-4 mt-4">
                         <div class="hosting-text">免费全开源</div>
                        <h4 class="mb-xl-4 mb-lg-4 mb-md-4 mb-sm-2">EbSite_Vercel 1.0.0</h4>
                        <p class="mb-xl-4 mb-lg-4 mb-md-4 mb-sm-4">基于Python flask 开发的简化版EbSite CMS，可一键安装在Vercel上，实现永久无续费服务</p>
                        <ul class="list-unstyled float-xl-none float-lg-none float-md-left float-sm-left">
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="themes/images/hosting-disk-icon.svg" alt="Disk Space"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">语言构架:Python/Flask</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="themes/images/hosting-bandwidth-icon.svg" alt="Data Bandwidth"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">前后台用户及权限管理</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="themes/images/hosting-email-icon.svg" alt="Email Accounts"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">分类、内容与专题管理</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="themes/images/hosting-domain-icon.svg" alt="LTDs Domains"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">可扩展的模型与部件</span></li>
                        </ul>
                        <div class="pt-xl-3">
                           <div class="hosting-button pt-xl-3 pt-lg-3 pt-md-3 pt-sm-2">
                            <a class="hosting-btn button-effect" href="/c11p1.html"> 查看更多 </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="plan variation-2 p-xl-5 p-lg-4 p-md-5 p-sm-5 p-4 mt-xl-0 mt-lg-0 mt-md-5 mt-sm-4 mt-4">
                         <div class="server-text">免费全开源</div>
                        <h4 class="mb-xl-4 mb-lg-4 mb-md-4 mb-sm-2">EbSite_BBS</h4>
                        <p class="mb-xl-4 mb-lg-4 mb-md-4 mb-sm-4">基于EbSite系统开发的BBS论坛，提供常见论坛管理功能，可使用EbSite所有功能</p>
                        <ul class="list-unstyled float-xl-none float-lg-none float-md-left float-sm-left">
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="themes/images/server-disk-icon.svg" alt="Disk Space"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">论坛版块管理</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="themes/images/server-bandwidth-icon.svg" alt="Data Bandwidth"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">版主与权限管理</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="themes/images/server-email-icon.svg" alt="Email Accounts"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">回帖与引用</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="themes/images/server-domain-icon.svg" alt="LTDs Domains"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">机器人模拟发帖</span></li>
                        </ul>
                        <div class="pt-xl-3">
                        <div class="server-button pt-xl-3 pt-lg-3 pt-md-3 pt-sm-2">
                            <a class="server-btn button-effect" target="_blank" href="https://github.com/yibo7/eb_bbs"> 去下载 </a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="plan p-xl-5 variation-3 p-lg-4 p-md-5 p-sm-5 p-4 mt-xl-0 mt-lg-0 mt-md-5 mt-sm-4 mt-4">
                        <div class="vps-text">免费全开源</div>
                        <h4 class="mb-xl-4 mb-lg-4 mb-md-4 mb-sm-2">EbSite_Shop</h4>
                        <p class="mb-xl-4 mb-lg-4 mb-md-4 mb-sm-4">基于EbSite开发的商城系统，虽然只是EbSite的一个集成模块，但商城功能非常完善。</p>
                        <ul class="list-unstyled float-xl-none float-lg-none float-md-left float-sm-left">
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="themes/images/vps-disk-icon.svg" alt="Disk Space"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">商品、品牌、供应商系统</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="themes/images/vps-bandwidth-icon.svg" alt="Data Bandwidth"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">购物、配送与支付系统</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="themes/images/vps-email-icon.svg" alt="Email Accounts"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">订单、退货及库存管理</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="themes/images/vps-domain-icon.svg" alt="LTDs Domains"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">促销活动及报表管理系统</span></li>
                        </ul>
                        <div class="pt-xl-3">
                        <div class="vps-button pt-xl-3 pt-lg-3 pt-md-3 pt-sm-2">
                            <a class="vps-btn button-effect" target="_blank" href="https://github.com/yibo7/eb_shop">去下载</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="features-section">
    <div class="container">
    <div class="text-center text-white feature-heading">
        <h1>EbSite 特色</h1>
        <p>EbSite 有诸多特色功能值得我们探讨与使用，在这里只列举以下几项</p>
    </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 plan-box-network">
                <div class="feature-plan-box text-center">
                    <figure class="feature-image-list">
                        <img class="img-fluid" src="themes/images/featuere-img-1.svg" alt="">
                    </figure>
                    <h3>站群系统</h3>
                    <p class="mb-0">EbSite可以无限创建子站点，每个站点都有自己独立的主题及相关的配置，不但主站点与子站点之间可以无阻碍调用，子站与子站之间也可以无阻碍互调。</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 plan-box-hardware">
                <div class="feature-plan-box text-center">
                    <figure class="feature-image-list">
                        <img class="img-fluid" src="themes/images/featuere-img-2.svg" alt="">
                    </figure>
                    <h3>模块集成系统</h3>
                    <p class="mb-0">
                        EbSite本身提供了强大的CMS系统，但某些特殊功能只能通过模块的方式来扩展，比如EbSite官方通过模块扩展的方式轻易实现了论坛与商城系统。
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 plan-box-technology">
                <div class="feature-plan-box text-center">
                    <figure class="feature-image-list">
                        <img class="img-fluid" src="themes/images/featuere-img-3.svg" alt="">
                    </figure>
                    <h3>可视化部件</h3>
                    <p class="mb-0">
                        可视化部件是EbSite的一大特色功能，通过部件可以让你的主题模板丰富多彩，随心所欲。EbSite官方提供了丰富的部件，同时开发者也可以开发自己的部件。
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-plan-box text-center">
                    <figure class="feature-image-list">
                        <img class="img-fluid" src="themes/images/featuere-img-4.svg" alt="">
                    </figure>
                    <h3>更多特色</h3>
                    <p class="mb-0">
                        在EbSite中你可以使用很多可扩展属性，比如插件，动态组件，计划任务，基于lucene的内容搜索，自定义控件，分类模型，内容模型，用户模型，表单模型，自定义报表等。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="guarrantees-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="guarrantee-text">
                    {{ widget("6550a15eb434a8dbbf92011e") }}
                </div>
                </div>
                <div class="plan-box-setting text-center col-lg-6 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 plan-box-award">
                            <div class="plan-box">
                                <figure class="guarrantee-image">
                                    <img class="img-fluid" src="themes/images/guarrantee-img-1.svg" alt="">
                                </figure>
                                <h4 class="m-0">完全开源</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 plan-box-guarrantee">
                            <div class="plan-box">
                                <figure class="guarrantee-image">
                                    <img class="img-fluid" src="themes/images/guarrantee-img-2.svg" alt="">
                                </figure>
                                <h4 class="m-0">无版权限制</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 plan-box-backup">
                            <div class="plan-box">
                                <figure class="guarrantee-image">
                                    <img class="img-fluid" src="themes/images/guarrantee-img-3.svg" alt="">
                                </figure>
                                <h4 class="m-0">可商业使用</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="plan-box">
                                <figure class="guarrantee-image">
                                    <img class="img-fluid" src="themes/images/guarrantee-img-4.svg" alt="">
                                </figure>
                                <h4 class="m-0">请保留官方声明</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="friend-link">
    <div class="container">
        <a>友情连接:</a> <a>ebsite</a>
    </div>
</div>

{% endblock %}