{% extends 'base_site.html' %}
{% block title %}
用户登录
{% endblock %}

{% block content %}

<div class="container mt-5" >
    <div class="col-sm-12 col-md-12 ">
        <div class="boxheader headertips">
                <h3>用户登录</h3>
                新用户请从<a class="text-success" href="reg">这里注册</a>
            </div>
            <div class="eb-content">

                <form action="{{request.path}}" method="post" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="username">Email或手机</label>
                        <input class="form-control" id="username" name="username" placeholder="Email或手机" required>
                        <div class="invalid-feedback">请输入有效的手机号或邮件地址。</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="pass">密码</label>
                        <input type="password" class="form-control" id="pass" name="pass" placeholder="密码" required>
                        <div class="invalid-feedback">密码不能为空</div>
                    </div>
                     {%if is_safe_code %}
                          <div class="row">
                            <label class="form-label" >验证码</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" title="验证码为4个字符" pattern=".{4}" name="code" required/>
                            </div>
                            <div class="col-sm-4">
                              <img  onClick="this.src+=Math.random()" src="/imgcode?" style="cursor: pointer;" />
                            </div>
                          </div>
                     {%endif%}
                    <br><br>
                    <button onclick="on_post()" type="submit" class="btn btn-primary"> 登 录 </button>
                    <br><br>
                    {%if err %}
                     <div class="alert alert-danger" role="alert">
                         {{err}}
                        </div>
                    {%endif%}
                </form>


            </div>
    </div>
</div>
<script>
    function on_post(){
        blockTips("提交中...",2)
    }
</script>
{% endblock %}